.in-front {
    z-index: 0;
    position: relative;
    pointer-events: none;
    // background-color: antiquewhite;
    width: 100vw;
    height: 100vh;
}

.pad {
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
}

.portfolio-title {
    color: rgb(255, 255, 255, 0.5)
}