<app-cube-b></app-cube-b>
<div class="in-front pad">
    <div class="d-flex w-100 h-100 gap-5">
        <div class="w-25 align-self-stretch">
            <app-details></app-details>
        </div>
        <div class="w-75 align-self-stretch">
            <div class="d-flex w-100 h-100 gap-5 flex-column justify-content-between">
                <div class="d-flex flex-row w-100 h-100 justify-content-around flex-wrap">
                    <app-game-button [name]="'Nombre'" [url]="'https://www.google.com.ar'"></app-game-button>
                    <app-game-button [name]="'Nombre'" [url]="'https://www.google.com.ar'"></app-game-button>
                </div>
                <div class="d-flex flex-row w-100 h-100 flex-row justify-content-around flex-wrap">
                    <app-game-button [name]="'Nombre'" [url]="'https://www.google.com.ar'"></app-game-button>
                    <app-game-button [name]="'Nombre'" [url]="'https://www.google.com.ar'"></app-game-button>
                </div>
                <div class="d-flex flex-row w-100 h-100 flex-row justify-content-around flex-wrap">
                    <app-game-button [name]="'Nombre'" [url]="'https://www.google.com.ar'"></app-game-button>
                    <app-game-button [name]="'Nombre'" [url]="'https://www.google.com.ar'"></app-game-button>
                </div>
            </div>
        </div>
    </div>
</div>